<?xml version="1.0" encoding="UTF-8"?>
<suite name="甲丁智慧建造云平台">
	<test name="APP接口测试">
		<classes>
			<class name="jadinec.test.api.cases.GetTokenTest">
				<method>
					<include name="getTokenTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.VerificationCodeLoginTest">
				<method>
					<include name="verificationCodeLoginTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetAppUpdateTest">
				<method>
					<include name="getAppUpdateTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetEngineeringPlaneTest">
				<method>
					<include name="getEngineeringPlaneTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetUserTest">
				<method>
					<include name="getUserTest" />
				</method>
			</class>
			<class
				name="jadinec.test.api.cases.GetEngineeringItemPlaneTest">
				<method>
					<include name="getEngineeringItemPlaneTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetSigTest">
				<method>
					<include name="getSigTest" />
				</method>
			</class>GetORGUserDetailTest
			<class name="jadinec.test.api.cases.GetORGUserDetailTest">
				<method>
					<include name="getORGUserDetailTest" />
				</method>
			</class>GetTaskItemsTest
			<class name="jadinec.test.api.cases.GetTaskItemsTest">
				<method>
					<include name="getTaskItemsTest" />
				</method>
			</class>OkForCloseStepTest
			<class name="jadinec.test.api.cases.OkForCloseStepTest">
				<method>
					<include name="okForCloseStepTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ReworkForStepTest">
				<method>
					<include name="reworkForStepTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetEngineeringItemHorizontalTest">
				<method>
					<include name="getEngineeringItemHorizontalTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetEngineeringProcessTest">
				<method>
					<include name="getEngineeringProcessTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetEngineeringSubItemTest">
				<method>
					<include name="getEngineeringSubItemTest" />
				</method>
			</class>GetOrganizationApiTest
			<class name="jadinec.test.api.cases.ChangeTaskReadTest">
				<method>
					<include name="changeTaskReadTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.SendSmsVerificationCodeUpdatePwdTest">
				<method>
					<include name="sendSmsVerificationCodeUpdatePwdTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.UpdatePwdApiTest">
				<method>
					<include name="updatePwdApiTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetUserInfoTest">
				<method>
					<include name="getUserInfoTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.SaveOpinionTest">
				<method>
					<include name="saveOpinionTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.SendSmsUpdatePhoneNumVerificationCodeTest">
				<method>
					<include name="sendSmsUpdatePhoneNumVerificationCodeTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.UpdateImgTest">
				<method>
					<include name="updateImgTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetFormItemsTest">
				<method>
					<include name="getFormItemsTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetFacilitiesCodeTest">
				<method>
					<include name="getFacilitiesCodeTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.SaveAttendanceRecordInfoTest">
				<method>
					<include name="saveAttendanceRecordInfoTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetAttendanceRecordStatisticsTest">
				<method>
					<include name="getAttendanceRecordStatisticsTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetBussinesTableTest">
				<method>
					<include name="getBussinesTableTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ProcessItemsTest">
				<method>
					<include name="processItemsTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.RefreshTokenTest">
				<method>
					<include name="refreshTokenTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ToggleRoleTest">
				<method>
					<include name="toggleRoleTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.StepForDetailsTest">
				<method>
					<include name="stepForDetailsTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.NoticeItemsTest">
				<method>
					<include name="noticeItemsTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetNoticeMessageListTest">
				<method>
					<include name="getNoticeMessageListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.BatchDealWithMsgTest">
				<method>
					<include name="batchDealWithMsgTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetMechanicalListTest">
				<method>
					<include name="getMechanicalListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ObtainBindingStateTest">
				<method>
					<include name="obtainBindingStateTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.BindMechanicalTest">
				<method>
					<include name="bindMechanicalTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ToggleMechanicalTest">
				<method>
					<include name="toggleMechanicalTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ReadNoticeTest">
				<method>
					<include name="readNoticeTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.DelNoticeTest">
				<method>
					<include name="delNoticeTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ObtainStepIdTest">
				<method>
					<include name="obtainStepIdTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ObtainMenusForRoleTest">
				<method>
					<include name="obtainMenusForRoleTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ObtainStepItemTest">
				<method>
					<include name="obtainStepItemTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetTeamListTest">
				<method>
					<include name="getTeamListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetTeamLeaderTest">
				<method>
					<include name="getTeamLeaderTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetTeamMemberTest">
				<method>
					<include name="getTeamMemberTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.SaveTeamTest">
				<method>
					<include name="saveTeamTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.EditTeamTest">
				<method>
					<include name="editTeamTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.DelTeamTest">
				<method>
					<include name="delTeamTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetPoiListTest">
				<method>
					<include name="getPoiListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetAllotProcessBarTest">
				<method>
					<include name="getAllotProcessBarTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetPlanManageTaskTest">
				<method>
					<include name="getPlanManageTaskTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetProcessListTest">
				<method>
					<include name="getProcessListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetEngineeringItemInfoTest">
				<method>
					<include name="getEngineeringItemInfoTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetOrgAllUserInfoTest">
				<method>
					<include name="getOrgAllUserInfoTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetOrgNameTest">
				<method>
					<include name="getOrgNameTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.SavePlanProcessTest">
				<method>
					<include name="savePlanProcessTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetDayPlanProcessListTest">
				<method>
					<include name="getDayPlanProcessListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.DoRevokeTest">
				<method>
					<include name="doRevokeTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetTechnologySecurityDisclosureTest">
				<method>
					<include name="getTechnologySecurityDisclosureTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetAppTechnologySecurityDisclosureInfoTest">
				<method>
					<include name="getAppTechnologySecurityDisclosureInfoTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ApplyFormSortForAllTest">
				<method>
					<include name="applyFormSortForAllTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ApplyFormSortForOneTest">
				<method>
					<include name="applyFormSortForOneTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ConfirmApplyFormTest">
				<method>
					<include name="confirmApplyFormTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ChangeWorkBeginTimeTest">
				<method>
					<include name="changeWorkBeginTimeTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetMixingStationTest">
				<method>
					<include name="getMixingStationTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.SavePouringTest">
				<method>
					<include name="savePouringTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetPouringDetailTest">
				<method>
					<include name="getPouringDetailTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.IsBindingTest">
				<method>
					<include name="IsBindingStateTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetBaseInfoTest">
				<method>
					<include name="getBaseInfoTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetMaterialListTest">
				<method>
					<include name="getMaterialListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetSlagHoleTaskDetailTest">
				<method>
					<include name="getSlagHoleTaskDetailTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetSlagHoleTaskDetailByStepIdTest">
				<method>
					<include name="getSlagHoleTaskDetailByStepIdTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetOtherMechanicalTypeCodeTest">
				<method>
					<include name="getOtherMechanicalTypeCodeTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetMixingStationProdLineTest">
				<method>
					<include name="getMixingStationProdLineTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.BindingMixingStationProdLineTest">
				<method>
					<include name="bindingMixingStationProdLineTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.StartProdLineTest">
				<method>
					<include name="startProdLineTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetPouringArrangeListTest">
				<method>
					<include name="getPouringArrangeListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.TaskStepTableTest">
				<method>
					<include name="taskStepTableTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetFreeCarTest">
				<method>
					<include name="getFreeCarTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ObtainTransportFormTest">
				<method>
					<include name="obtainTransportFormTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetBussinesTableTest">
				<method>
					<include name="getBussinesTableTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetProdTaskTest">
				<method>
					<include name="getProdTaskTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetConstructionLogPageTest">
				<method>
					<include name="getConstructionLogPageTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetSpecifiedUserStatisticInfoTest">
				<method>
					<include name="getSpecifiedUserStatisticInfoTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetDictionaryByGroupTest">
				<method>
					<include name="getDictionaryByGroupTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.UpdatePhoneNumTest">
				<method>
					<include name="updatePhoneNumTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetApplyFormItemTest">
				<method>
					<include name="getApplyFormItemTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ProdTransCollectTest">
				<method>
					<include name="prodTransCollectTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.DelProdTransFormTest">
				<method>
					<include name="delProdTransFormTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.AddProdTransFormTest">
				<method>
					<include name="addProdTransFormTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.EditProdTransFormTest">
				<method>
					<include name="editProdTransFormTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetTransTaskTest">
				<method>
					<include name="getTransTaskTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetPlansTest">
				<method>
					<include name="getPlansTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.DealWithNoticeTest">
				<method>
					<include name="dealWithNoticeTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetAllotDetailsTest">
				<method>
					<include name="getAllotDetailsTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetMapTextMarkTest">
				<method>
					<include name="getMapTextMarkTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetEngineeringDesignDetailsTest">
				<method>
					<include name="getEngineeringDesignDetailsTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetMechanicalTraceTest">
				<method>
					<include name="getMechanicalTraceTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetConcreteApplyListTest">
				<method>
					<include name="getConcreteApplyListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetUserInfoDetailEveryDayWorkUserInfoTest">
				<method>
					<include name="getUserInfoDetailEveryDayWorkUserInfoTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetUserInfoDetailAllTest">
				<method>
					<include name="getUserInfoDetailAllTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetUserInfoDetailTest">
				<method>
					<include name="getUserInfoDetailTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ListMaterialDetailTest">
				<method>
					<include name="listMaterialDetailTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetEngineeringRebarDetailTest">
				<method>
					<include name="getEngineeringRebarDetailTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetProductByWorkareaTest">
				<method>
					<include name="getProductByWorkareaTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetEquipmentArchivesTest">
				<method>
					<include name="getEquipmentArchivesTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetEquipmentDetailsTest">
				<method>
					<include name="getEquipmentDetailsTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetEquipmentInfoDetailsTest">
				<method>
					<include name="getEquipmentInfoDetailsTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.PendingTest">
				<method>
					<include name="pendingTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetFacilitiesNameTest">
				<method>
					<include name="getFacilitiesNameTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetTransDriverPointTest">
				<method>
					<include name="getTransDriverPointTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetTransDetailsTest">
				<method>
					<include name="getTransDetailsTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ConcretePouringInformTest">
				<method>
					<include name="concretePouringInformTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetConstRatioStepDetailTest">
				<method>
					<include name="getConstRatioStepDetailTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetConstRateDetailsTest">
				<method>
					<include name="getConstRateDetailsTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.DriverConfirmTest">
				<method>
					<include name="driverConfirmTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetConstRateTaskTest">
				<method>
					<include name="getConstRateTaskTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.SendPouringTokenTest">
				<method>
					<include name="sendPouringTokenTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetProcessBarTest">
				<method>
					<include name="getProcessBarTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetOptPersionListTest">
				<method>
					<include name="getOptPersionListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetWorkMonthPlanItemInfoTest">
				<method>
					<include name="getWorkMonthPlanItemInfoTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetEngineeringCodeListTest">
				<method>
					<include name="getEngineeringCodeListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetItemStateListTest">
				<method>
					<include name="getItemStateListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetWorkMonthPlanItemPageListTest">
				<method>
					<include name="getWorkMonthPlanItemPageListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.QueryEngineeringTypeToCodeListTest">
				<method>
					<include name="queryEngineeringTypeToCodeListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetWorkMonthPlanPageListTest">
				<method>
					<include name="getWorkMonthPlanPageListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.AddMonthPlanItemTest">
				<method>
					<include name="addMonthPlanItemTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.UpdateOrChangeMonthPlanItemTest">
				<method>
					<include name="updateOrChangeMonthPlanItemTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetMonthPlanRatioMonthTest">
				<method>
					<include name="getMonthPlanRatioMonthTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetMonthPlanItemViewTest">
				<method>
					<include name="getMonthPlanItemViewTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetMonthPlanViewListTest">
				<method>
					<include name="getMonthPlanViewListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ReviewTemporaryMoneyTest">
				<method>
					<include name="reviewTemporaryMoneyTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.LaunchTemporaryMoneyTest">
				<method>
					<include name="launchTemporaryMoneyTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetTemporaryMoneyByProcessOddTest">
				<method>
					<include name="getTemporaryMoneyByProcessOddTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetTemporaryTypeListTest">
				<method>
					<include name="getTemporaryTypeListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetEngineeringItemListTest">
				<method>
					<include name="getEngineeringItemListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetTemporaryMoneyListTest">
				<method>
					<include name="getTemporaryMoneyListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetLedgerListTest">
				<method>
					<include name="getLedgerListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetListTest">
				<method>
					<include name="getListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetEngineeringCategoryListTest">
				<method>
					<include name="getEngineeringCategoryListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetEngineeringTypeListTest">
				<method>
					<include name="getEngineeringTypeListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetProcessStepListTest">
				<method>
					<include name="getProcessStepListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.AddOrUpdateTest">
				<method>
					<include name="addOrUpdateTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetDetailTest">
				<method>
					<include name="getDetailTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.DeleteTest">
				<method>
					<include name="deleteTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetBasicInfoTest">
				<method>
					<include name="getBasicInfoTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ListEngineeringListsTest">
				<method>
					<include name="listEngineeringListsTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ListWallRocksTest">
				<method>
					<include name="listWallRocksTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ListLiningTypesTest">
				<method>
					<include name="listLiningTypesTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ListMaterialInfoTest">
				<method>
					<include name="listMaterialInfoTest" />
				</method>
			</class>
			
		</classes>
	</test>

	<!-- 配置监听器 -->
	<listeners>
		<listener
			class-name="jadinec.test.api.config.ExtentTestNGIReporterListener" />
	</listeners>
</suite>