<?xml version="1.0" encoding="UTF-8"?>
<suite name="甲丁智慧建造云平台">
	<test name="APP接口测试">
		<classes>
			<class name="jadinec.test.api.cases.GetTokenTest">
				<method>
					<include name="getTokenTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.VerificationCodeLoginTest">
				<method>
					<include name="verificationCodeLoginTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetAppUpdateTest">
				<method>
					<include name="getAppUpdateTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetEngineeringPlaneTest">
				<method>
					<include name="getEngineeringPlaneTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetUserTest">
				<method>
					<include name="getUserTest" />
				</method>
			</class>
			<class
				name="jadinec.test.api.cases.GetEngineeringItemPlaneTest">
				<method>
					<include name="getEngineeringItemPlaneTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetORGUserDetailTest">
				<method>
					<include name="getORGUserDetailTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetTaskItemsTest">
				<method>
					<include name="getTaskItemsTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.OkForCloseStepTest">
				<method>
					<include name="okForCloseStepTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ReworkForStepTest">
				<method>
					<include name="reworkForStepTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetEngineeringItemHorizontalTest">
				<method>
					<include name="getEngineeringItemHorizontalTest" />
				</method>
			</class>
			
			<class name="jadinec.test.api.cases.GetEngineeringSubItemTest">
				<method>
					<include name="getEngineeringSubItemTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ChangeTaskReadTest">
				<method>
					<include name="changeTaskReadTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.SendSmsVerificationCodeUpdatePwdTest">
				<method>
					<include name="sendSmsVerificationCodeUpdatePwdTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.UpdatePwdApiTest">
				<method>
					<include name="updatePwdApiTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.SaveOpinionTest">
				<method>
					<include name="saveOpinionTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.SendSmsUpdatePhoneNumVerificationCodeTest">
				<method>
					<include name="sendSmsUpdatePhoneNumVerificationCodeTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.UpdateImgTest">
				<method>
					<include name="updateImgTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetFormItemsTest">
				<method>
					<include name="getFormItemsTest" />
				</method>
			</class>
			
			<class name="jadinec.test.api.cases.GetBussinesTableTest">
				<method>
					<include name="getBussinesTableTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ProcessItemsTest">
				<method>
					<include name="processItemsTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.RefreshTokenTest">
				<method>
					<include name="refreshTokenTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ToggleRoleTest">
				<method>
					<include name="toggleRoleTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.StepForDetailsTest">
				<method>
					<include name="stepForDetailsTest" />
				</method>
			</class>
			
			<class name="jadinec.test.api.cases.GetMechanicalListTest">
				<method>
					<include name="getMechanicalListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ObtainBindingStateTest">
				<method>
					<include name="obtainBindingStateTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.BindMechanicalTest">
				<method>
					<include name="bindMechanicalTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ToggleMechanicalTest">
				<method>
					<include name="toggleMechanicalTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ObtainStepIdTest">
				<method>
					<include name="obtainStepIdTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ObtainMenusForRoleTest">
				<method>
					<include name="obtainMenusForRoleTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ObtainStepItemTest">
				<method>
					<include name="obtainStepItemTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetTeamListTest">
				<method>
					<include name="getTeamListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetTeamLeaderTest">
				<method>
					<include name="getTeamLeaderTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetTeamMemberTest">
				<method>
					<include name="getTeamMemberTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.SaveTeamTest">
				<method>
					<include name="saveTeamTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.EditTeamTest">
				<method>
					<include name="editTeamTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.DelTeamTest">
				<method>
					<include name="delTeamTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetPoiListTest">
				<method>
					<include name="getPoiListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetAllotProcessBarTest">
				<method>
					<include name="getAllotProcessBarTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetPlanManageTaskTest">
				<method>
					<include name="getPlanManageTaskTest" />
				</method>
			</class>
			
			<class name="jadinec.test.api.cases.ApplyFormSortForAllTest">
				<method>
					<include name="applyFormSortForAllTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ApplyFormSortForOneTest">
				<method>
					<include name="applyFormSortForOneTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ConfirmApplyFormTest">
				<method>
					<include name="confirmApplyFormTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ChangeWorkBeginTimeTest">
				<method>
					<include name="changeWorkBeginTimeTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetMixingStationTest">
				<method>
					<include name="getMixingStationTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.SavePouringTest">
				<method>
					<include name="savePouringTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetPouringDetailTest">
				<method>
					<include name="getPouringDetailTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.IsBindingTest">
				<method>
					<include name="IsBindingStateTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetBaseInfoTest">
				<method>
					<include name="getBaseInfoTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetMaterialListTest">
				<method>
					<include name="getMaterialListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetSlagHoleTaskDetailTest">
				<method>
					<include name="getSlagHoleTaskDetailTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetSlagHoleTaskDetailByStepIdTest">
				<method>
					<include name="getSlagHoleTaskDetailByStepIdTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetOtherMechanicalTypeCodeTest">
				<method>
					<include name="getOtherMechanicalTypeCodeTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetMixingStationProdLineTest">
				<method>
					<include name="getMixingStationProdLineTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.BindingMixingStationProdLineTest">
				<method>
					<include name="bindingMixingStationProdLineTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.StartProdLineTest">
				<method>
					<include name="startProdLineTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetPouringArrangeListTest">
				<method>
					<include name="getPouringArrangeListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.TaskStepTableTest">
				<method>
					<include name="taskStepTableTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetFreeCarTest">
				<method>
					<include name="getFreeCarTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ObtainTransportFormTest">
				<method>
					<include name="obtainTransportFormTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetBussinesTableTest">
				<method>
					<include name="getBussinesTableTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetProdTaskTest">
				<method>
					<include name="getProdTaskTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetConstructionLogPageTest">
				<method>
					<include name="getConstructionLogPageTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetSpecifiedUserStatisticInfoTest">
				<method>
					<include name="getSpecifiedUserStatisticInfoTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetDictionaryByGroupTest">
				<method>
					<include name="getDictionaryByGroupTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.UpdatePhoneNumTest">
				<method>
					<include name="updatePhoneNumTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetApplyFormItemTest">
				<method>
					<include name="getApplyFormItemTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ProdTransCollectTest">
				<method>
					<include name="prodTransCollectTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.DelProdTransFormTest">
				<method>
					<include name="delProdTransFormTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.AddProdTransFormTest">
				<method>
					<include name="addProdTransFormTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.EditProdTransFormTest">
				<method>
					<include name="editProdTransFormTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetTransTaskTest">
				<method>
					<include name="getTransTaskTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetPlansTest">
				<method>
					<include name="getPlansTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.DealWithNoticeTest">
				<method>
					<include name="dealWithNoticeTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetAllotDetailsTest">
				<method>
					<include name="getAllotDetailsTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetMapTextMarkTest">
				<method>
					<include name="getMapTextMarkTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetEngineeringDesignDetailsTest">
				<method>
					<include name="getEngineeringDesignDetailsTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetMechanicalTraceTest">
				<method>
					<include name="getMechanicalTraceTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetConcreteApplyListTest">
				<method>
					<include name="getConcreteApplyListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetUserInfoDetailEveryDayWorkUserInfoTest">
				<method>
					<include name="getUserInfoDetailEveryDayWorkUserInfoTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetUserInfoDetailAllTest">
				<method>
					<include name="getUserInfoDetailAllTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetUserInfoDetailTest">
				<method>
					<include name="getUserInfoDetailTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ListMaterialDetailTest">
				<method>
					<include name="listMaterialDetailTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetEngineeringRebarDetailTest">
				<method>
					<include name="getEngineeringRebarDetailTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetProductByWorkareaTest">
				<method>
					<include name="getProductByWorkareaTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetEquipmentArchivesTest">
				<method>
					<include name="getEquipmentArchivesTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetEquipmentDetailsTest">
				<method>
					<include name="getEquipmentDetailsTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetEquipmentInfoDetailsTest">
				<method>
					<include name="getEquipmentInfoDetailsTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.PendingTest">
				<method>
					<include name="pendingTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetFacilitiesNameTest">
				<method>
					<include name="getFacilitiesNameTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetTransDriverPointTest">
				<method>
					<include name="getTransDriverPointTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetTransDetailsTest">
				<method>
					<include name="getTransDetailsTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ConcretePouringInformTest">
				<method>
					<include name="concretePouringInformTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetConstRatioStepDetailTest">
				<method>
					<include name="getConstRatioStepDetailTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetConstRateDetailsTest">
				<method>
					<include name="getConstRateDetailsTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.DriverConfirmTest">
				<method>
					<include name="driverConfirmTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetConstRateTaskTest">
				<method>
					<include name="getConstRateTaskTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.SendPouringTokenTest">
				<method>
					<include name="sendPouringTokenTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetProcessBarTest">
				<method>
					<include name="getProcessBarTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetOptPersionListTest">
				<method>
					<include name="getOptPersionListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetWorkMonthPlanItemInfoTest">
				<method>
					<include name="getWorkMonthPlanItemInfoTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetEngineeringCodeListTest">
				<method>
					<include name="getEngineeringCodeListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetItemStateListTest">
				<method>
					<include name="getItemStateListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetWorkMonthPlanItemPageListTest">
				<method>
					<include name="getWorkMonthPlanItemPageListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.QueryEngineeringTypeToCodeListTest">
				<method>
					<include name="queryEngineeringTypeToCodeListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetWorkMonthPlanPageListTest">
				<method>
					<include name="getWorkMonthPlanPageListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.AddMonthPlanItemTest">
				<method>
					<include name="addMonthPlanItemTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.UpdateOrChangeMonthPlanItemTest">
				<method>
					<include name="updateOrChangeMonthPlanItemTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetMonthPlanRatioMonthTest">
				<method>
					<include name="getMonthPlanRatioMonthTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetMonthPlanItemViewTest">
				<method>
					<include name="getMonthPlanItemViewTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetMonthPlanViewListTest">
				<method>
					<include name="getMonthPlanViewListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ReviewTemporaryMoneyTest">
				<method>
					<include name="reviewTemporaryMoneyTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.LaunchTemporaryMoneyTest">
				<method>
					<include name="launchTemporaryMoneyTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetTemporaryMoneyByProcessOddTest">
				<method>
					<include name="getTemporaryMoneyByProcessOddTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetTemporaryTypeListTest">
				<method>
					<include name="getTemporaryTypeListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetEngineeringItemListTest">
				<method>
					<include name="getEngineeringItemListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetTemporaryMoneyListTest">
				<method>
					<include name="getTemporaryMoneyListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetLedgerListTest">
				<method>
					<include name="getLedgerListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetListTest">
				<method>
					<include name="getListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetEngineeringCategoryListTest">
				<method>
					<include name="getEngineeringCategoryListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetEngineeringTypeListTest">
				<method>
					<include name="getEngineeringTypeListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetProcessStepListTest">
				<method>
					<include name="getProcessStepListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.AddOrUpdateTest">
				<method>
					<include name="addOrUpdateTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetDetailTest">
				<method>
					<include name="getDetailTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.DeleteTest">
				<method>
					<include name="deleteTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetBasicInfoTest">
				<method>
					<include name="getBasicInfoTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ListEngineeringListsTest">
				<method>
					<include name="listEngineeringListsTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ListWallRocksTest">
				<method>
					<include name="listWallRocksTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ListLiningTypesTest">
				<method>
					<include name="listLiningTypesTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ListMaterialInfoTest">
				<method>
					<include name="listMaterialInfoTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.AddOrUpdateWallRockLevelChangeTest">
				<method>
					<include name="addOrUpdateWallRockLevelChangeTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.QueryWallRoackInfoByProcessOddTest">
				<method>
					<include name="queryWallRoackInfoByProcessOddTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ReviewWallRockLevelTest">
				<method>
					<include name="reviewWallRockLevelTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.CancelMaterialProcessTest">
				<method>
					<include name="cancelMaterialProcessTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetEffectRecordListTest">
				<method>
					<include name="getEffectRecordListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetTechnicianListTest">
				<method>
					<include name="getTechnicianListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.CancelEffectRecordProcessTest">
				<method>
					<include name="cancelEffectRecordProcessTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetAddPageInitDataTest">
				<method>
					<include name="getAddPageInitDataTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetProcessDetailTest">
				<method>
					<include name="getProcessDetailTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetEffectRecordDetailTest">
				<method>
					<include name="getEffectRecordDetailTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ReviewEffectRecordTest">
				<method>
					<include name="reviewEffectRecordTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ExportDataToPathTest">
				<method>
					<include name="exportDataToPathTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ListProjectSeperateTest">
				<method>
					<include name="listProjectSeperateTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetProjectLocationSummaryInfoTest">
				<method>
					<include name="getProjectLocationSummaryInfoTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetSubcontractorSeperateListTest">
				<method>
					<include name="getSubcontractorSeperateListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetSubcontractorLocationSummaryTest">
				<method>
					<include name="getSubcontractorLocationSummaryTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetEngineeringMaterialSummaryTest">
				<method>
					<include name="getEngineeringMaterialSummaryTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetMaterialConsumeDetailTest">
				<method>
					<include name="getMaterialConsumeDetailTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetEngineeringMaterialDetailTest">
				<method>
					<include name="getEngineeringMaterialDetailTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetSlagHoleBaseInfoTest">
				<method>
					<include name="getSlagHoleBaseInfoTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetSlagHoleMaterialListTest">
				<method>
					<include name="getSlagHoleMaterialListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetDispatchVehicleListTest">
				<method>
					<include name="getDispatchVehicleListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.SaveDispatchTest">
				<method>
					<include name="saveDispatchTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetDispatchListTest">
				<method>
					<include name="getDispatchListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetDispatchDetailTest">
				<method>
					<include name="getDispatchDetailTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetReceivingVehicleListTest">
				<method>
					<include name="getReceivingVehicleListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetReceivingListTest">
				<method>
					<include name="getReceivingListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetReceivingDetailTest">
				<method>
					<include name="getReceivingDetailTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetWeighingOrderDetailTest">
				<method>
					<include name="getWeighingOrderDetailTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.PreviewTest">
				<method>
					<include name="previewTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.UpdateWeighingListTest">
				<method>
					<include name="updateWeighingListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.SaveReceivingTest">
				<method>
					<include name="saveReceivingTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetEarthworkTaskTest">
				<method>
					<include name="getEarthworkTaskTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetOnlineMarkListTest">
				<method>
					<include name="getOnlineMarkListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetMarkDetailForSlideTest">
				<method>
					<include name="getMarkDetailForSlideTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetDeviceByDeviceTypeTest">
				<method>
					<include name="getDeviceByDeviceTypeTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetEarthworkBorrowAreaTest">
				<method>
					<include name="getEarthworkBorrowAreaTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.InsertEarthworkTaskToOwnerTest">
				<method>
					<include name="insertEarthworkTaskToOwnerTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.UpdateEarthworkOwnerByIdTest">
				<method>
					<include name="updateEarthworkOwnerByIdTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetTodayStatisticTest">
				<method>
					<include name="getTodayStatisticTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.SaveDeviceWorkingInfoTest">
				<method>
					<include name="saveDeviceWorkingInfoTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetTemporaryTaskTypeTest">
				<method>
					<include name="getTemporaryTaskTypeTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.InsertTemporaryTaskTest">
				<method>
					<include name="insertTemporaryTaskTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetConstTaskListTest">
				<method>
					<include name="getConstTaskListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetSplitTaskTest">
				<method>
					<include name="getSplitTaskTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.CheckPlanExecStateTest">
				<method>
					<include name="checkPlanExecStateTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetEngineeringItemDesignDataTest">
				<method>
					<include name="getEngineeringItemDesignDataTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetEngineeringItemDesignLengthTest">
				<method>
					<include name="getEngineeringItemDesignLengthTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.AddTunnelConstTaskTest">
				<method>
					<include name="addTunnelConstTaskTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.EditSplitTaskTest">
				<method>
					<include name="editSplitTaskTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.DelSplitTaskTest">
				<method>
					<include name="delSplitTaskTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetSplitDetailTest">
				<method>
					<include name="getSplitDetailTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetTaskAndOrderListTest">
				<method>
					<include name="getTaskAndOrderListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ArrivedExcavateAreaTest">
				<method>
					<include name="arrivedExcavateAreaTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.EnterWjjTest">
				<method>
					<include name="enterWjjTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.SaveFillOrderTest">
				<method>
					<include name="saveFillOrderTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.DoneFillOrderTest">
				<method>
					<include name="doneFillOrderTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetTodayWorkOrderTest">
				<method>
					<include name="getTodayWorkOrderTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetStatisticWorkOrderTest">
				<method>
					<include name="getStatisticWorkOrderTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetStatisticMonthWorkOrderTest">
				<method>
					<include name="getStatisticMonthWorkOrderTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetFillOrderDetailTest">
				<method>
					<include name="getFillOrderDetailTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetStatisticMonthLineWorkOrderTest">
				<method>
					<include name="getStatisticMonthLineWorkOrderTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetFillTaskDetailTest">
				<method>
					<include name="getFillTaskDetailTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetSplitEngineeringTest">
				<method>
					<include name="getSplitEngineeringTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetPlanCategoryCodeTest">
				<method>
					<include name="getPlanCategoryCodeTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetPlanSearchTypeCodeTest">
				<method>
					<include name="getPlanSearchTypeCodeTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetSearchElementTest">
				<method>
					<include name="getSearchElementTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetEngineeringCategoryTest">
				<method>
					<include name="getEngineeringCategoryTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetEngineeringLevelTest">
				<method>
					<include name="getEngineeringLevelTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetWorkAreaCodeTest">
				<method>
					<include name="getWorkAreaCodeTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetEngineeringTypeProcessTest">
				<method>
					<include name="getEngineeringTypeProcessTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetEngineeringTypeTest">
				<method>
					<include name="getEngineeringTypeTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.FollowUpTest">
				<method>
					<include name="followUpTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ScheduleTest">
				<method>
					<include name="scheduleTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.WebConcretePouringInformTest">
				<method>
					<include name="webConcretePouringInformTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ObtainProdNameListTest">
				<method>
					<include name="obtainProdNameListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetManageSlideTest">
				<method>
					<include name="getManageSlideTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetMergeOrderListTest">
				<method>
					<include name="getMergeOrderListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.CreateMergeSerialTest">
				<method>
					<include name="createMergeSerialTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetProgressTest">
				<method>
					<include name="getProgressTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetMergeOrderDetailTest">
				<method>
					<include name="getMergeOrderDetailTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.OutputTheSummaryTest">
				<method>
					<include name="outputTheSummaryTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.LogoutTest">
				<method>
					<include name="logoutTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetVisualProTest">
				<method>
					<include name="getVisualProTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ToggleProCodeTest">
				<method>
					<include name="toggleProCodeTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetOrgListTest">
				<method>
					<include name="getOrgListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.AddContractTest">
				<method>
					<include name="addContractTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetPageListTest">
				<method>
					<include name="getPageListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetContractTotalTest">
				<method>
					<include name="getContractTotalTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetContractInfoTest">
				<method>
					<include name="getContractInfoTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetContViewListTest">
				<method>
					<include name="getContViewListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetProcessInfoTest">
				<method>
					<include name="getProcessInfoTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetContEngineeringCountTest">
				<method>
					<include name="getContEngineeringCountTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetContTeamgCountTest">
				<method>
					<include name="getContTeamgCountTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetProProcessListTest">
				<method>
					<include name="getProProcessListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetContProcessListTest">
				<method>
					<include name="getContProcessListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetContAddListTest">
				<method>
					<include name="getContAddListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.AddAwaitCommitContItemTest">
				<method>
					<include name="addAwaitCommitContItemTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.AddAllAwaitCommitContItemTest">
				<method>
					<include name="addAllAwaitCommitContItemTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.AddAllContItemTest">
				<method>
					<include name="addAllContItemTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.EditContractTest">
				<method>
					<include name="editContractTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.DeleteContItemTest">
				<method>
					<include name="deleteContItemTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetContTeamRangeListTest">
				<method>
					<include name="getContTeamRangeListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.AddContTeamItemTest">
				<method>
					<include name="addContTeamItemTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.DeleteContTeamItemTest">
				<method>
					<include name="deleteContTeamItemTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.DeleteContractorContractTest">
				<method>
					<include name="deleteContractorContractTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.DeleteContItemByConditionTest">
				<method>
					<include name="deleteContItemByConditionTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ObtainTeamListTest">
				<method>
					<include name="obtainTeamListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetTaskTypeTest">
				<method>
					<include name="getTaskTypeTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetTaskAlterItemsTest">
				<method>
					<include name="getTaskAlterItemsTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetTogetherDeptUserTest">
				<method>
					<include name="getTogetherDeptUserTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetHandOverRecordTest">
				<method>
					<include name="getHandOverRecordTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetRecordDetailsTest">
				<method>
					<include name="getRecordDetailsTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.SearchTest">
				<method>
					<include name="searchTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetMergeElementsTest">
				<method>
					<include name="getMergeElementsTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.FaceMatchTest">
				<method>
					<include name="faceMatchTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetfaceSimilarScoreTest">
				<method>
					<include name="getfaceSimilarScoreTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetConstRatioDetailTest">
				<method>
					<include name="getConstRatioDetailTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetProductProportionTest">
				<method>
					<include name="getProductProportionTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.DataTest">
				<method>
					<include name="dataTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetStatisticsGroupWorkAreaTest">
				<method>
					<include name="getStatisticsGroupWorkAreaTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetAllUnitProjectByWorkAreaCodeTest">
				<method>
					<include name="getAllUnitProjectByWorkAreaCodeTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetEngineeringTypeNumTest">
				<method>
					<include name="getEngineeringTypeNumTest" />
				</method>
			</class>	
			<class name="jadinec.test.api.cases.GetProductByWorkAreasTest">
				<method>
					<include name="getProductByWorkAreasTest" />
				</method>
			</class>	
			<class name="jadinec.test.api.cases.GetProductEngineeringQuantitiesLedgerTest">
				<method>
					<include name="getProductEngineeringQuantitiesLedgerTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetContractorProductByDayOrMonthOrHistoryTest">
				<method>
					<include name="getContractorProductByDayOrMonthOrHistoryTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetUnitEngineeringAndDeptTest">
				<method>
					<include name="getUnitEngineeringAndDeptTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetEngineeringItemListsTest">
				<method>
					<include name="getEngineeringItemListsTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetEngineeringItemDetailTest">
				<method>
					<include name="getEngineeringItemDetailTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetStatisticPersonnelInfoTest">
				<method>
					<include name="getStatisticPersonnelInfoTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetStatisticUserOnlineByDeptIdTest">
				<method>
					<include name="getStatisticUserOnlineByDeptIdTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetStatisticDeviceTest">
				<method>
					<include name="getStatisticDeviceTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetOutputValueProgressTest">
				<method>
					<include name="getOutputValueProgressTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.ListOutputValueProgressTest">
				<method>
					<include name="listOutputValueProgressTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetProPointTest">
				<method>
					<include name="getProPointTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetChildCompanyTest">
				<method>
					<include name="getChildCompanyTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetFeatureValueTest">
				<method>
					<include name="getFeatureValueTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.EnterSiteFeatureCompareTest">
				<method>
					<include name="enterSiteFeatureCompareTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetPsnTabWhistleTableTest">
				<method>
					<include name="getPsnTabWhistleTableTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetGeneralSingleListTest">
				<method>
					<include name="getGeneralSingleListTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetSingleOrderTest">
				<method>
					<include name="getSingleOrderTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetSplitAccordingTest">
				<method>
					<include name="getSplitAccordingTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetEngineeringPoiTest">
				<method>
					<include name="getEngineeringPoiTest" />
				</method>
			</class>
			<class name="jadinec.test.api.cases.GetWorkAreaListTest">
				<method>
					<include name="getWorkAreaListTest" />
				</method>
			</class>
			
			
		</classes>
	</test>

	<!-- 配置监听器 -->
	<listeners>
		<listener
			class-name="jadinec.test.api.config.ExtentTestNGIReporterListener" />
	</listeners>
</suite>